$primary: #3b3b3b;
$secondary: #f2f0f0;
$link: rgba(212, 87, 7, 0.77);

$default_transition: 0.3s ease;

@mixin button {
  background-color: $secondary;
  color: $primary;
  border: solid 1px $primary;
  padding: 0.5rem 1.7rem;
  transition: $default_transition;
  cursor: pointer;
  display: inline-block;
  &:hover {
    color: $secondary;
    text-decoration: none;
    background-color: $primary;
  }
}
